body {
    margin: 0px;
    font-family: sonoFont;


}

.container {
    display: flex;
}

.left-box {
    background: url('../images/parrot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 33.33%;
    height: auto;
}

.text {
    margin-bottom: 2rem;

}

.text,
.text1 {
    font-size: 1.6rem;
    line-height: 2.9rem;
    font-weight: 600;
    margin-left: 3rem;
}

.text1 {
    margin-top: 2rem;
}

.form {
    margin-top: 3rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: auto;
    height: 6rem;
    opacity: 0.5;
    margin-top: 700px;
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
}

.right-box {
    width: 66.66%;

}

.header {
    background-color: rgb(249, 250, 251);
    width: 100%;
    padding-top: 10.2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-bottom: 2rem;
}

form {
    color: rgb(87, 94, 105);
    font-size: 0.8rem;


}

.name-box,
.contact-box,
.password-box {
    display: flex;
    gap: 3.5rem;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
}

input {
    width: 20rem;
    height: 1.8rem;
    border-radius: 5px;
    border: 0.5px rgb(229, 231, 235) solid;
}


input:focus {
    outline: none !important;
    border: 1px rgb(29, 78, 216) solid;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

input:invalid:not(:focus):not(:placeholder-shown):not(:valid) {
    border: 1px red solid;
}


.button-box {
    margin-top: 4rem;
    background-color: rgb(249, 250, 251);
    padding-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.question {
    margin-top: 2rem;
    padding-bottom: 3rem;
    font-size: 1rem;
}

button,
.question {
    margin-left: 3rem;
}

button {
    background-color: #596D48;
    color: white;
    border: none;
    padding: 1.2rem 3rem;
    font-size: 0.9rem;
    font-weight: 900;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

a {
    color: #596D48;
    text-decoration: none;
    font-size: 1rem;
}

@font-face {
    font-family: sonoFont;
    src: url(/repos/sign-up-form/Sono/static/Sono/Sono-ExtraLight.ttf);
}